.mainContainer {
  border-radius: 12px;
  padding: 16px;
  background-color: #097a57;

  box-shadow: 0px 4px 6px -2px #1a1b1f0d;
  box-shadow: 0px 12px 16px -4px #1a1b1f1a;
}

.rowContainer {
  cursor: pointer;
  padding: 16px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: white;
}

.rowHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.unexpandedBox {
  width: 40px;
  height: 40px;

  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

.expandedBox {
  width: 40px;
  height: 40px;

  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

.title {
  all: unset;
  margin-block: 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: white;
}

.paragraph {
  all: unset;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: white;
  white-space: pre-line;
}

.paragraphContainer {
  padding: 16px 0px;
}
