.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding: 100px 16px;
}

.privacymainContainer {
  display: flex;
  flex-direction: column;
  padding: 100px 16px;
}

.title {
  all: unset;
  margin-block: 0px;
  display: block;
  font-family: "Inter";
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #037b55;
}

.about__title {
  all: unset;
  margin-block: 0px;
  display: block;
  font-family: "Inter";
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #037b55;
}

.subtitle {
  all: unset;
  margin-block: 0px;

  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  color: #6e706b;
}

.subtitle__primary {
  all: unset;
  margin-block: 0px;

  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  margin-bottom: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.subtitle__primary__grey {
  color: #343a40;
}

.h4title {
  all: unset;
  margin-block: 0px;
  display: block;
  font-family: "Inter";
  font-size: 34px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.25px;
  text-align: center;
}

.h5title {
  all: unset;
  margin-block: 0px;
  display: block;

  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}

.downloadRitaButton {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phoneContainer {
  width: 100%;
}
.loveRita {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heartSvg {
  margin-top: 32px;
  position: relative;
  width: 20%;
  height: 5vw;
}
.phones {
  margin-top: 32px;
  position: relative;
  width: 100%;
  height: 140vw;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.img1 {
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: 140vw;
}

.horizontalImage {
  display: none;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
}

.card {
  margin-top: 16px;
  width: 100%;
}

.wrapper {
  margin-top: 80px;
}
.privacywrapper {
  margin-top: 100px;
}

.privacySubHeader {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
}

.listStyle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 0.1em;
}

@media screen and (min-width: 744px) and (max-width: 1339px) {
  .mainContainer {
    padding: 0 24px;
  }
  .privacymainContainer {
    padding: 0 24px;
  }

  .aboutHeaderContainer {
    display: flex;
    flex-direction: row;

    background-image: url(/about_us_rectangles.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right 10% top;
  }

  .headerContainer {
    display: flex;
    flex-direction: row;

    background-image: url(/background1.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right 10% top;
  }
  .phones {
    margin-top: 0px;
    height: 60vw;
  }
  .img1 {
    display: none;
  }

  .downloadRitaButton {
    justify-content: left;
  }

  .horizontalImage {
    display: block;
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: 47vw;
  }
  .cardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cardsContainerSecondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    width: 30%;
  }
  .card2 {
    width: 48%;
  }
  .anotherTitle {
    text-align: left;
  }
  .girlImage {
    height: 60vw;
  }
  .leftSubtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1340px) {
  .mainContainer {
    padding: 0 80px;
  }
  .privacymainContainer {
    padding: 0 80px;
  }
  .someContainer {
    margin-top: 40px;
  }
  .aboutHeaderContainer {
    display: flex;
    flex-direction: row;
    height: 420px;
    margin: 0 1em;
    background-image: url(/about_us_rectangles.png);
    background-repeat: no-repeat;
    background-size: 30% 100%;
    background-position: right 15% center;
  }
  .headerContainer {
    display: flex;
    flex-direction: row;

    background-image: url(/background1.png);
    background-repeat: no-repeat;
    background-size: 35% 100%;
    background-position: right 40% center;
  }
  .phoneContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .phones {
    width: 55%;
    margin-top: 0px;
    height: 44vw;
  }
  .img1 {
    display: none;
  }

  .wrapper {
    margin-top: 200px;
  }
  .privacywrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0px 200px 0px;
  }

  .title {
    font-weight: 400;
    font-size: 80px;
    line-height: 104px;
    letter-spacing: -1.5px;
    font-family: "Inter";
  }
  .about__title {
    font-weight: 400;
    font-size: 80px;
    line-height: 85px;
    letter-spacing: -1.5px;
    font-family: "Inter";
  }
  .downloadRitaButton {
    margin-top: 48px;
    justify-content: left;
  }
  .horizontalImage {
    display: block;
    margin-top: 40px;
    position: relative;
    width: 65%;
    height: 18vw;
  }
  .girlImage {
    width: 40%;
    height: 22vw;
    order: 1;
  }
  .innerContainer {
    margin-top: 200px;
  }
  .cardsContainer {
    margin-top: 72px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cardsContainerSecondary {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cardSecondary {
    width: 14%;
  }

  .card {
    width: 32%;
  }
  .card2 {
    width: 49%;
  }

  .anotherTitle {
    text-align: left;
  }

  .girlHeaderContainer {
    order: 2;
    width: 50%;
  }

  .h4title,
  .h5title {
    text-align: left;
  }

  .solutionContainer {
    margin: 200px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
  }

  .privacySolutionContainer {
    margin: 20px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
  }

  .anotherProblemTitle {
    text-align: left;
    font-size: 64px;
    font-weight: 600;
    font-family: "Inter";
  }

  .anotherSubtitle {
    text-align: left;
  }
  .about__anotherSubtitle {
    text-align: left;
  }
  .leftSubtitle {
    text-align: left;
  }
  .center__subtitle {
    text-align: center;
  }
}
