.container {
  margin: 40px 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonIcon {
  display: flex;
  all: unset;
  cursor: pointer;

  padding: 8px;
}

.buttonTitle {
  display: none;
}

.logo {
  cursor: pointer;
}

.logoText {
  color: #2f3c44;
  font-family: 'Inter';
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.5px;
  margin-left: .3em;
}

.links {
  display: flex;
  flex-direction: row;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modalButton {
  all: unset;
  cursor: pointer;

  color: white;
  font-size: 24px;
  padding: 8px 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.modalLinks {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  margin-top: 1.2em;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 240px;
  padding: 0 5px;
  z-index: 1;
}

.dropdownOpen .dropdownContent {
  display: block;
  margin-top: -1em;
}

.dropdownButton {
  all: unset;
  cursor: pointer;
  padding: 0px 16px;
  display: block;
  font-size: 14px;
  margin: 2em 0;
}

.dropdownButton:hover {
  color: #037b55;
}

@media screen and (min-width: 1340px) {
  .container {
    margin: 24px 80px;
  }

  .buttonTitle {
    all: unset;
    cursor: pointer;

    padding: 8px 16px;
    margin: 16px;
  }

  .buttonIcon {
    display: none;
  }
}
