.container {
  display: flex;
  padding: 24px 24px 0px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2px 4px -2px rgba(26, 27, 31, 0.06);
  box-shadow: 0px 4px 8px -2px rgba(26, 27, 31, 0.1);

  border-radius: 12px;

  background-image: url(/background3.png);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: left 10% bottom 20%;
}

.container:hover {
  background-image: url(/background4.png);
}

.badgeContainer {
  display: flex;
  justify-content: flex-end;
}

.container:hover {
  background-color: #037b55;
}

.badge {
  border-radius: 24px;
  box-shadow: 0px 2px 4px -2px #1a1b1f0f;
  box-shadow: 0px 4px 8px -2px #1a1b1f1a;
  padding: 4px 12px;
  background-color: #037b55;
  width: fit-content;
}

.container:hover .badge {
  background-color: white;
}

.badgeText {
  all: unset;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: white;
}

.container:hover .badgeText {
  color: black;
}

.messageContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  all: unset;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #1a1b1f;
}

.container:hover .title {
  color: white;
}

.subtitle {
  all: unset;
  margin-top: 8px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1a1b1f;
  white-space: pre-line;
}

.container:hover .subtitle {
  color: white;
}

.buttonContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.button {
  all: unset;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  border-color: #037b55;
  padding: 16px;
  width: fit-content;
}

.container:hover .button {
  border-color: white;
}

.buttonText {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #037b55;
}

.container:hover .buttonText {
  color: white;
}

.imageContainer {
  position: relative;
  height: 50vw;
  width: 100%;
}

@media screen and (min-width: 744px) and (max-width: 1339px) {
  .imageContainer {
    height: 25vw;
  }
  .container {
    background-size: 100% 60%;
    background-position: left 10% bottom 10%;
  }
}

@media screen and (min-width: 1340px) {
  .container {
    background-size: 50% 70%;
    background-position: left 10% bottom;
  }
  .imageContainer {
    height: 15vw;
    width: 50%;
  }

  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard {
    width: 70%;
  }
}
